<h1 class="display-4">Callbacks</h1>
<p class="lead">A function passed as an argument to another function</p>
<hr class="my-4">
<p>
    Callbacks allow for functions to call other functions.  This is particularly useful
    with asynchronous functions where one function needs to wait for another function to complete.
    <br>
    Good example: The callback functions called in promises .then() statements.

</p>
<a class="btn btn-primary btn-lg" href="https://developer.mozilla.org/en-US/docs/Glossary/Callback_function" role="button" target="_blank">Learn more</a>