<h1 class="display-4">Brendan Eich</h1>
<p class="lead">Creator of JavaScript</p>
<hr class="my-4">
<p>
    Eich created JavaScript in 1995 at the Netscape Communications Corporation. 
    Eich also co-founded the Mozilla project,[3] the Mozilla Foundation and the 
    Mozilla Corporation, and served as the Mozilla Corporation's chief technical 
    officer and briefly, as its chief executive officer.
</p>
<a class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/Brendan_Eich" role="button" target="_blank">Learn more</a>