<h1 class="display-4">Map (higher-order function)</h1>
<p class="lead">A function passed as an argument to another function</p>
<hr class="my-4">
<p>
    Array method that applies a given function to all elements of a given array.
    <!-- <hr> -->
    Not to be confused with the <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map">
    JavaScript map object</a> which is similar to the JavaScript object literal 
    except for a few differences(allows for more key data types).

</p>
<a class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/Map_(higher-order_function)" role="button" target="_blank">Learn more</a>