<h1 class="display-4">Promises</h1>
<p class="lead">pending | fullfilled | rejected</p>
<hr class="my-4">
<p>
    A promise is a proxy/placeholder for a value that is not necessarily known
    when the promise is created. Main purpose of promises is that they allow 
    asynchronous methods to return values like synchronous methods do (but instead
    of real value, the function returns a promise). 
</p>
<a class="btn btn-primary btn-lg" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise" role="button" target="_blank">Learn more</a>