<!-- <h1>
  Let's Learn Angular Facts!
</h1> -->

<!-- As a heading -->
<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1 title">Let's Learn Angular Facts!</span>
</nav>

<div class="container" id="qAndA">
  <div class="row">
    <div class="col-lg-4">
      <div class="list-group group" id="questions">
        <a routerLink='/promises' class="list-group-item list-group-item-action list-group-item-primary">What are promises?</a>
        <a routerLink='/callback' class="list-group-item list-group-item-action list-group-item-success">What are Callbacks</a>
        <a routerLink='/map' class="list-group-item list-group-item-action list-group-item-danger">What does the map higher level function do?</a>
        <a routerLink='/creator' class="list-group-item list-group-item-action list-group-item-info">Who is the creator of JavaScript?</a>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="jumbotron bg-dark text-white group" id="answer">
        <router-outlet></router-outlet>
      </div>
    </div>
  
  </div>
</div>

<!-- 
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

 -->
